@model GameEditServiceModel

@{
    ViewBag.Title = "Game Edit";
}

<div class="box box-large box-info-and-edit">
    <form asp-controller="Games" asp-action="Edit" method="post">
        <input hidden asp-for="FieldName">
        <div class="input-container mt-5">
            <label asp-for="FieldName"></label>
            <input asp-for="FieldName" class="mt-2 mb-3" disabled>
        </div>
        <div class="input-container">
            <label asp-for="Date"></label>
            <input asp-for="Date" type="date" class="mt-2 mb-3">
            <span asp-validation-for="Date" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Time"></label>
            <input asp-for="Time" min="1" max="24" type="number" placeholder="20:00" class="mt-2 mb-3">
            <span asp-validation-for="Time" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="NumberOfPlayers"></label>
            <input asp-for="NumberOfPlayers" min="8" max="22" type="number" class="mt-2 mb-3">
            <span asp-validation-for="NumberOfPlayers" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="FacebookUrl"></label>
            <input asp-for="FacebookUrl" class="mt-2 mb-3">
            <span asp-validation-for="FacebookUrl" class="small text-danger"></span>
        </div>
        <div class="textarea-container">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="mt-2 mb-3" rows="2"></textarea>
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>

        <div class="mt-4 mb-3 createPlaygroundChechboxes">
            <input class="checkbox-down" asp-for="Ball" type="checkbox">
            <label asp-for="Ball"></label>
            <input class="checkbox-down" asp-for="Jerseys" type="checkbox">
            <label asp-for="Jerseys"></label>
            <input class="checkbox-down" asp-for="Goalkeeper" type="checkbox">
            <label asp-for="Goalkeeper"></label>
        </div>

        <div class="my-item-center">
            <input class="btn btn-form-size" type="submit" value="Edit" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}