@model PlaygroundCreateFormModel

@{
    ViewBag.Title = "Create Playground";
}

@if (@Model == null)
{
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://thumbs.dreamstime.com/b/comic-boom-oops-icon-simple-black-style-illustration-web-122999699.jpg" alt="Just oops image">
            <div class="card-body text-center">
                <h5 class="card-title text-center">Only managers can create playgrounds</h5>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="offset-1 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 col-11 col-sm-9 col-md-8 col-lg-6 col-xl-5">
                <h3 class="mt-3 mb-3">Create Playground</h3>

                <form method="post" class="form-group">
                    <div>
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" type="text" class="form-control">
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="Country">Select Country:</label>
                        <select asp-for="Country" class="form-control">
                            @foreach (var country in Model.Countries)
                            {
                                @if (country == "Bulgaria")
                                {
                                    <option selected="selected" value="@country"> @country </option>
                                }
                                else
                                {
                                    <option value="@country"> @country </option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Town"></label>
                        <input asp-for="Town" type="text" class="form-control">
                        <span asp-validation-for="Town" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" type="text" class="form-control">
                        <span asp-validation-for="Address" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageUrl"></label>
                        <input asp-for="ImageUrl" class="form-control">
                        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" type="text" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                    </div>

                    <div class="mt-4 mb-3 createPlaygroundChechboxes">
                        <input class="checkbox-down" asp-for="Parking" type="checkbox">
                        <label asp-for="Parking">Parking</label>

                        <input class="checkbox-down" asp-for="Shower" type="checkbox">
                        <label asp-for="Shower">Shower</label>

                        <input class="checkbox-down" asp-for="ChangingRoom" type="checkbox">
                        <label asp-for="ChangingRoom">Changing Room</label>

                        <input class="checkbox-down" asp-for="Cafe" type="checkbox">
                        <label asp-for="Cafe">Cafe</label>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="small text-danger"></span>
                    </div>

                    <input class="btn btn-success float-right" type="submit" value="Create" />
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}