@model BecomeAdminFormModel

@{
    ViewBag.Title = "Become Admin";
}

<div class="box box-small">
    @if (Model != null)
    {
        <div class="text-center">
            <h3>@ViewBag.Title</h3>
        </div>

        <form asp-controller="Admins" asp-action="Become" method="post">
            <div class="input-container mt-5">
                <label asp-for="Name" class="mb-2"></label>
                <input asp-for="Name" class="mt-2" placeholder="@Model.Name">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div>
                <input class="btn btn-form-size ml-xl-0 ml-lg-0 ml-md-0 ml-sm-0 ml-3" type="submit" value="Become" />
            </div>
        </form>
    }
    else
    {
        @if (User.IsManager())
        {
            <h5 class="green text-center">Manager can not become an admin!</h5>
        }
        else
        {
            <h5 class="green text-center">You are already an admin!</h5>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}