@using MiniFootball.Data.Models
@using Microsoft.AspNetCore.Identity
@using MiniFootball.Services.Users

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService AppUser
@inject IAdminService Admins

<ul class="navbar-nav mobile-version-center-btns">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.Id();
        var userIsAdmin = Admins.IsAdmin(userId);
        var userIsManager = User.IsManager();
        var userImg = AppUser.UserInfo(userId).ImageUrl;

        if (userIsAdmin && userIsManager == false)
        {
            <li class="nav-item">
                <a class="nav-link min-width-nav-size btn btn-link mr-xl-3 mr-lg-3" asp-area="" asp-controller="Games" asp-action="Mine">My Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-link min-width-nav-size" asp-area="" asp-controller="Fields" asp-action="Mine">My Fields</a>
            </li>
        }
        else if (userIsManager == false)
        {
            <li class="nav-item">
                <a class="nav-link btn btn-link min-width-nav-size" asp-area="" asp-controller="Admins" asp-action="Become">Become Admin</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline mb-md-2 mb-2" style="justify-content: center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn-logout">Logout</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Account">
                <img src=@userImg class="user-img-navbar" />
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-link mr-2 min-width-nav-size" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link mr-2 min-width-nav-size" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>