@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="my-item-center mt-5">
    <h1 class="mb-4">Error</h1>
    <a href="/" class="btn min-width-size-btn">Go to Home Page</a>
</div>
