@model IEnumerable<FieldListingServiceModel>

@{
    ViewBag.Title = "My Fields";
    ViewBag.AllowCarEdit = true;
}

<img class="background-image" src="~/images/cl-1.jpg" />


@if (Model.Any() == false)
{
    <div class="my-item-center mt-5">
        <a asp-controller="Fields" asp-action="Create" class="btn min-width-size-btn">Create Field</a>
    </div>
}
else
{
    <div class="row">
        <partial name="_FieldPartial" model="@Model" />
    </div>
}
