@model GameFormModel

<div class="container">
    <div class="row">
        <div class="offset-1 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 col-10 col-sm-9 col-md-8 col-lg-6 col-xl-5">
            @if (ViewBag.Title == "Create Game")
            {
                <h3 class="mt-3 mb-3">Last step to Create Game</h3>
            }

            <form method="post" class="form-group">

                <div class="form-group">
                    <label asp-for="Date"></label>
                    <input asp-for="Date" type="datetime-local" placeholder="Click on calendar" class="form-control">
                    <span asp-validation-for="Date" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumberOfPlayers"></label>
                    <input asp-for="NumberOfPlayers" min="8" max="22" type="number" class="form-control">
                    <span asp-validation-for="NumberOfPlayers" class="small text-danger"></span>
                </div>

                @if (ViewBag.Title == "Details Game")
                {
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" type="text" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                    </div>
                }

                <div class="form-group">
                    <label asp-for="FacebookUrl"></label>
                    <input asp-for="FacebookUrl" class="form-control">
                    <span asp-validation-for="FacebookUrl" class="small text-danger"></span>
                </div>

                <div class="mt-4 mb-3 createPlaygroundChechboxes">
                    <input class="checkbox-down" asp-for="Ball" type="checkbox">
                    <label asp-for="Ball"></label>

                    <input class="checkbox-down" asp-for="Jerseys" type="checkbox">
                    <label asp-for="Jerseys"></label>

                    <input class="checkbox-down" asp-for="Goalkeeper" type="checkbox">
                    <label asp-for="Goalkeeper"></label>
                </div>

                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>

                @if (ViewBag.Title == "Edit Game")
                {
                    <input class="btn float-right" type="submit" value="Edit" />
                }
                else
                {
                    <input class="btn float-right" type="submit" value="Create" />
                }
            </form>
        </div>
    </div>
</div>