@model CreateGameFormModel

@{
    ViewBag.Title = "Create Game";
}

@if (Model != null)
{
    <div class="box box-large">
        <div class="text-center">
            <h3>Field Name - @Model.FieldName</h3>
        </div>

        <form asp-controller="Games" asp-action="CreateGameLastStep" method="post">
            <div class="input-container mt-5">
                <label asp-for="Date" class="mb-2 mt-3"></label>
                <input asp-for="Date" type="date" class="mt-2">
                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="Time" class="mb-2 mt-3"></label>
                <input asp-for="Time" min="1" max="24" type="number" placeholder="From 01 To 24" class="mt-2">
                <span asp-validation-for="Time" class="small text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="NumberOfPlayers" class="mb-2 mt-3"></label>
                <input asp-for="NumberOfPlayers" min="8" max="22" type="number" placeholder="Min 8 and Max 22" class="mt-2">
                <span asp-validation-for="NumberOfPlayers" class="small text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="FacebookUrl" class="mb-2 mt-3"></label>
                <input asp-for="FacebookUrl" type="url" class="mt-2">
                <span asp-validation-for="FacebookUrl" class="small text-danger"></span>
            </div>
            <div class="textarea-container">
                <label asp-for="Description" class="mb-2 mt-3"></label>
                <textarea asp-for="Description" class="mt-2">rows="2"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <div class="mt-4 mb-3 ml-3 createPlaygroundChechboxes">
                <input class="checkbox-down" asp-for="Ball" type="checkbox">
                <label asp-for="Ball"></label>

                <input class="checkbox-down" asp-for="Jerseys" type="checkbox">
                <label asp-for="Jerseys"></label>

                <input class="checkbox-down" asp-for="Goalkeeper" type="checkbox">
                <label asp-for="Goalkeeper"></label>
            </div>

            <div>
                <input class="btn btn-form-size ml-xl-0 ml-lg-0 ml-md-0 ml-sm-0 ml-3" type="submit" value="Create" />
            </div>
        </form>
    </div>
}
else
{
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://thumbs.dreamstime.com/b/comic-boom-oops-icon-simple-black-style-illustration-web-122999699.jpg" alt="Just oops image">
            <div class="card-body text-center">
                <h5 class="card-title text-center">Only admins can create games</h5>
                <a asp-controller="Admins" asp-action="Become" class="btn">Become Admin</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}