@model CreateGameFirstStepViewModel

@{
    ViewBag.Title = "Create Game";
}

@if (@Model != null)
{
    <div class="box box-small">
        <div class="text-center">
            <h3>First step to Create Game</h3>
        </div>

        <form asp-controller="Games" asp-action="CreateGameFirstStep" method="post">
            <div class="select-container mt-5 mb-5">
                <label asp-for="CountryName" class="mb-2"></label>
                <select asp-for="CountryName" class="mt-2">
                    @foreach (var country in Model.Countries)
                    {
                        @if (country == "Bulgaria")
                        {
                            <option selected="selected" value="@country"> @country </option>
                        }
                        else
                        {
                            <option value="@country"> @country </option>
                        }
                    }
                </select>
            </div>

            <div class="input-container">
                <label asp-for="CityName" class="mb-2"></label>
                <input asp-for="CityName" type="text" class="mt-2">
                <span asp-validation-for="CityName" class="small text-danger"></span>
            </div>

            <div>
                <input class="btn btn-form-size ml-xl-0 ml-lg-0 ml-md-0 ml-sm-0 ml-3" type="submit" value="Create" />
            </div>
        </form>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}