@model CreateGameFormModel

@{
    ViewBag.Title = "Create Game";
}

@if (Model != null)
{
    <div class="col-sm-10 ml-sm-5">
        <div class="form-group row text-center">
            <h3 class="mt-3 ml-3">Field Name - @Model.FieldName</h3>
        </div>

        <form asp-controller="Games" asp-action="CreateGameLastStep" method="post" class="mt-3">

            <div class="form-group row">
                <label asp-for="Date" class="col-form-label col-sm-5"></label>
                <div class="col-sm-10">
                    <input asp-for="Date" type="date" class="form-control">
                    <span asp-validation-for="Date" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Time" class="col-form-label col-sm-5"></label>
                <div class="col-sm-10">
                    <input asp-for="Time" min="1" max="24" type="number" placeholder="From 01 To 24" class="form-control">
                    <span asp-validation-for="Time" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="NumberOfPlayers" class="col-form-label col-sm-5"></label>
                <div class="col-sm-10">
                    <input asp-for="NumberOfPlayers" min="8" max="22" type="number" placeholder="Min 8 and Max 22" class="form-control">
                    <span asp-validation-for="NumberOfPlayers" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="FacebookUrl" class="col-form-label col-sm-5"></label>
                <div class="col-sm-10">
                    <input asp-for="FacebookUrl" type="url" class="form-control">
                    <span asp-validation-for="FacebookUrl" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-form-label col-sm-5"></label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" class="form-control">rows="2"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
            </div>

            <div class="mt-4 mb-3 ml-3 createPlaygroundChechboxes">
                <input class="checkbox-down" asp-for="Ball" type="checkbox">
                <label asp-for="Ball"></label>

                <input class="checkbox-down" asp-for="Jerseys" type="checkbox">
                <label asp-for="Jerseys"></label>

                <input class="checkbox-down" asp-for="Goalkeeper" type="checkbox">
                <label asp-for="Goalkeeper"></label>
            </div>

            <div class="form-group row">
                <input class="btn btn-form-size ml-3" type="submit" value="Create" />
            </div>
        </form>
    </div>
}
else
{
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://thumbs.dreamstime.com/b/comic-boom-oops-icon-simple-black-style-illustration-web-122999699.jpg" alt="Just oops image">
            <div class="card-body text-center">
                <h5 class="card-title text-center">Only admins can create games</h5>
                <a asp-controller="Admins" asp-action="Become" class="btn">Become Admin</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}