@model IEnumerable<GameListingServiceModel>

@{
    ViewBag.Title = "My Games";
    ViewBag.AllowCarEdit = true;
    ViewBag.AllowImage = true;
}

@if (Model.Any() == false)
{
    <div class="my-item-center mt-5">
        <a href="/Games/CountryListing" class="btn min-width-size-btn">Create Game</a>
    </div>
}
else
{
    <div class="row">
        <partial name="_GamesPartial" model="@Model" />
    </div>
}
