@model UserDetailsServiceModel

@{
    ViewBag.Title = "Player Details";
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "no-user.jpg");
}

<div class="box box-large box-acount-manage">
    <form id="profile-form" method="post">
        <img src="@photoPath" class="img-thumbnail" asp-append-version="true"/>
        <div class="mt-5 mb-5">
            <h3>Contacts :</h3>
        </div>
        <div class="input-container">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" readonly="readonly" class="mt-2 mb-3"/>
        </div>
        <div class="input-container">
            <label asp-for="Email" class=""></label>
            <input asp-for="Email" readonly="readonly" class="mt-2 mb-3"/>
        </div>
        <div class="mt-4 mb-5">
            <h3>Details :</h3>
        </div>
        <div class="input-container">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" readonly="readonly" class="mt-2 mb-3"/>
        </div>
        <div class="input-container">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" readonly="readonly" class="mt-2 mb-3"/>
        </div>
        <div class="input-container">
            <label asp-for="NickName"></label>
            <input asp-for="NickName" readonly="readonly" class="mt-2 mb-3"/>
        </div>
        <div class="input-container">
            <label asp-for="Age"></label>
            <input asp-for="Age" readonly="readonly" class="mt-2 mb-3"value="@Model.Age">
        </div>
    </form>
</div>