@{
    ViewData["Title"] = "Welcome to Messi Finder";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Create your team and looking for Messi for your team.</p>
</div>
