@model CreateGameFormModel

@{
    ViewData["Title"] = "Create Game";
}

<div class="container">
    <div class="row">
        <div class="offset-1 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 col-10 col-sm-9 col-md-8 col-lg-6 col-xl-5">
            <h3 class="mt-3 mb-3">Create Game</h3>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Date">Date</label>
                    <input asp-for="Date" type="date" value="@Model.Date" class="form-control">
                </div>

                <div class="form-group">
                    <label asp-for="PlaygroundId"></label>
                    <select asp-for="PlaygroundId" class="form-control">
                        @foreach (var playground in Model.Playgrounds)
                        {
                            <option value="@playground.Id">@playground.Name</option>
                        }
                    </select>
                </div>

                <input class="btn btn-success float-right" type="submit" value="Create" />
            </form>
        </div>
    </div>
</div>