@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="box box-small">
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">You do not have access to this resource.</p>
</header>
