@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<img class="background-image" src="~/images/stadium-football-soccer-game.jpg" />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <h1 class="text-center mb-4">@ViewData["Title"]</h1>

            <form id="account" method="post">
                <div class="form-group my-item-center">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control text-center min-width-size" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group my-item-center">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control text-center min-width-size" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group my-item-center">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group my-item-center">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group my-item-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}