@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="box box-large">
    <h1 class="text-center mb-5">@ViewData["Title"]</h1>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
        <div class="input-container">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.Email" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.Password" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.ConfirmPassword" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.FirstName"></label>
            <input asp-for="Input.FirstName" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.FirstName" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.LastName"></label>
            <input asp-for="Input.LastName" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.LastName" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.NickName"></label>
            <input asp-for="Input.NickName" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.NickName" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.PhoneNumber" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.Birthdate"></label>
            <input asp-for="Input.Birthdate" type="date" class="mt-2 mb-3"/>
            <span asp-validation-for="Input.Birthdate" class="small text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Input.Photo"></label>
            <input asp-for="Input.Photo" type="file" class="btn mt-2 mb-3"/>
            <span asp-validation-for="Input.Photo" class="small text-danger"></span>
        </div>
        <div>
            <button class="btn btn-form-size ml-xl-0 ml-lg-0 ml-md-0 ml-sm-0 ml-3" type="submit" >Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
