@using MessiFinder.Data.Models
@using Microsoft.AspNetCore.Identity
@using MessiFinder.Areas.Manager

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IAdminService Admins

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.Id();
        var userIsAdmin = Admins.IsAdmin(userId);
        var userIsManager = User.IsManager();

        if (userIsAdmin && userIsManager == false)
        {
            <li class="nav-item">
                <a class="nav-link btn btn-link" asp-area="" asp-controller="Games" asp-action="Mine">My Games</a>
            </li>
        }
        else if (userIsManager == false)
        {
            <li class="nav-item">
                <a class="nav-link btn btn-link" asp-area="" asp-controller="Admins" asp-action="Become">Become Admin</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>