@model BecomeAdminFormModel

@{
    ViewBag.Title = "Become Admin";
}

<img class="background-image" src="~/images/manager-approving-fields.jpg" />

@if (Model == null)
{
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://thumbs.dreamstime.com/b/comic-boom-oops-icon-simple-black-style-illustration-web-122999699.jpg" alt="Just oops image">
            <div class="card-body text-center">
                <h5 class="card-title text-center">You are already a Admin</h5>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center mb-4">@ViewBag.Title</h2>

            <form method="post">
                <div class="form-group my-item-center">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control text-center min-width-size" placeholder="@Model.Name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="my-item-center">
                    <input class="btn btn-primary mt-3 min-width-size-btn" type="submit" value="Become" />
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}